* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .4s;
}
body {
  background: #202342;
  color: #fff;
}
::-webkit-scrollbar-thumb {background-color: #46496d;border-radius: 4px;}
::-webkit-scrollbar {
  background: #36395d;
  width: 5px;
}
.App {
  width: 100% - 100px;
  margin: 0 50px;
  position: relative;
  display: flex;
  
}
button, span, img {
  user-select: none !important;
}

.d-none {
  right: -200% !important;
  transform: scale(0) !important;
  transition: .4s !important;
  /* display: none !important; */
}
.up-d-none {
  top: -100% !important;
  opacity: 0 !important;
}